@page
@model FE.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NewsArticle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsArticle.NewsTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsArticle.NewsTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsArticle.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsArticle.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsArticle.Headline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsArticle.Headline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsArticle.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsArticle.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsArticle.NewsContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsArticle.NewsContent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsArticle.NewsSource)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsArticle.NewsSource)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsArticle.NewsStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsArticle.NewsStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsArticle.UpdatedById)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsArticle.UpdatedById)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsArticle.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsArticle.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewsArticle.ListTags)
        </dt>
        <dd class="col-sm-10">
            @if (Model.NewsArticle.ListTags != null && Model.NewsArticle.ListTags.Any())
            {
                <ul>
                    @foreach (var tag in Model.NewsArticle.ListTags)
                    {
                        <li>@tag.TagName</li> 
                    }
                </ul>
            }
            else
            {
                <span>No tags available</span> 
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NewsArticle.NewsArticleId">Edit</a> |
    <a asp-page="./NewArtical">Back to List</a>
</div>
